<mat-card *ngIf="project">
  <mat-card-title>{{project.name}}</mat-card-title>
  <mat-card-subtitle> début : {{project.begin_at.date | date:'dd-MM-yyyy'}} - fin {{project.end_at.date | date:'dd-MM-yyyy'}}</mat-card-subtitle>
  <mat-card-content> {{project.description}}</mat-card-content>

  <div class="subjects">
    <h2>Les sujets

      <button mat-button (click)="createSubject()" >créer un nouveau sujet</button >
    </h2>

    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile *ngFor="let subject of subjects" [routerLink]="['/subject/'+subject.id]">
        {{subject.name}}
      </mat-grid-tile>
    </mat-grid-list>

  </div>

</mat-card>
